body {
  font-family: Arial, sans-serif;
  background-color: #1b1b1b;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.container {
  position: relative;
  width: 1280px; 
  height: 720px; 
  margin: auto;
}

.main-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}


.title-text {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 1.5em;
  font-weight: bold;

}


.left-text {
  position: absolute;
  top: 35%;
  left: 2%;
  color: white;
  font-size: 1.1em;
  max-width: 200px;
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 5px; 
  border-radius: 50px; 
  line-height: 1.2; 
  display: flex; /* Added to enable flexbox */
 
}


.right-text {
  position: absolute;
  top: 35%;
  right: 2%;
  color: white;
  font-size: 1.1em;
  background-color: rgba(0, 0, 0, 0.7); 
  max-width: 150px;
  padding: 5px; 
  border-radius: 50px; 
  line-height: 1.2; 
}


#start-button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: orange;
  border: none;
  padding: 10px 20px;
  font-size: 2em;
  color: white;
  cursor: pointer;
  border-radius: 50px;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  position: relative;
  background-size: cover;
  
}

.game-img {
  position: relative;
  width: 100%; 
  height: 100%; 
  border-radius: 8px;
}


.game-stats {
  position: absolute;
  top: 25px; 
  left: 5px; 
  background-color: rgba(0, 0, 0, 0.6); 
  color: #fff; 
  padding: 10px;
  border-radius: 8px;
}


#game-end {
  display: none;
  align-content: center;
  width: 1280px;
  height: 720px;
  padding: 20px 0px;
  position: relative;
  
}

.logo-img {
  position: relative;
  width: 100%; 
  height: 100%; 
  border-radius: 8px;
}

#restart-button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: orange;
  border: none;
  padding: 10px 20px;
  font-size: 2em;
  color: white;
  cursor: pointer;
  border-radius: 50px;
}


.final-text {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}