@font-face {
  font-family: 'MyCustomFont';
  src: url('../font/HARRYP__.TTF') format('woff2'),
}

body {
  font-family: 'MyCustomFont', sans-serif;
  background-color: #1b1b1b;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.container {
  position: relative;
  width: 1280px; 
  height: 720px; 
  margin: auto;
}

.main-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}


.title-text {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2em;
  font-weight: bold;

}


.text {
position: absolute; 
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  color: white;
  font-size: 1.3em;
  max-width: 200px;
  padding: 5px; 
  border-radius: 50px; 
  line-height: 1.2; 
  display: center; /* Added to enable flexbox */
  align-content: center;
 justify-content: center;
}





#start-button {
  font-family: 'MyCustomFont', sans-serif;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: orange;
  border: none;
  padding: 10px 20px;
  font-size: 2em;
  color: white;
  cursor: pointer;
  border-radius: 50px;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  position: relative;
  background-size: cover;
  
}

.game-img {
  position: relative;
  width: 100%; 
  height: 100%; 
  border-radius: 8px;
}


.game-stats {
  position: absolute;
  top: 25px; 
  left: 5px; 
  background-color: rgba(0, 0, 0, 0.6); 
  color: #fff; 
  padding: 10px;
  border-radius: 8px;
}


#game-end {
  display: none;
  align-content: center;
  width: 1280px;
  height: 720px;
  padding: 20px 0px;
  position: relative;
  
}

.logo-img {
  position: relative;
  width: 100%; 
  height: 100%; 
  border-radius: 8px;
}

#restart-button {
  font-family: 'MyCustomFont', sans-serif;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: orange;
  border: none;
  padding: 10px 20px;
  font-size: 2em;
  color: white;
  cursor: pointer;
  border-radius: 50px;
}


.final-text {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}